<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="mb-3">
            <label for="exampleInputFirstname1" class="form-label"
              >First name</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputFirstname1"
              formControlName="FirstName"
            />
            <small
                class="form-text text-danger"
                *ngIf="FirstName!.errors?.['pattern'] && (FirstName!.dirty || FirstName!.touched)"
              >
              *Alphabets only allowed
              </small>
            <small
              class="form-text text-danger"
              *ngIf="FirstName!.errors?.['required'] && (FirstName!.dirty || FirstName!.touched)"
            >
              *FirstName is required
            </small>
          </div>
          <div class="mb-3">
            <label for="exampleInputLastname1" class="form-label"
              >Last name</label
            > 
            <input
              type="text"
              class="form-control"
              id="exampleInputLastname1"
              formControlName="LastName"
            />
            <small
                class="form-text text-danger"
                *ngIf="LastName!.errors?.['pattern'] && (LastName!.dirty || LastName!.touched)"
              >
              *Alphabets only allowed
              </small>
            <small
              class="form-text text-danger"
              *ngIf="LastName!.errors?.['required'] && (LastName!.dirty || LastName!.touched)"
            >
              *LastName is required
            </small>
          </div>
          <div class="mb-3">
            <label for="exampleInputMobile1" class="form-label"
              >Mobile number</label
            >
            <input
              type="tel"
              class="form-control"
              id="exampleInputMobile1"
              formControlName="mobile"
              maxlength="10"
            />
              <small
                class="form-text text-danger"
                *ngIf="mobile!.errors?.['pattern'] && (mobile!.dirty || mobile!.touched)"
              >
                *Mobile number should contain number only
              </small>
            <small
              class="form-text text-danger"
              *ngIf="mobile!.errors?.['required'] && (mobile!.dirty || mobile!.touched)"
            >
              *Mobile number is required
            </small>
            <small
              class="form-text text-danger"
              *ngIf="mobile!.errors?.['minlength'] && (mobile!.dirty || mobile!.touched)"
            >
              *Mobile number should contain 10 digits
            </small>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input

            
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              formControlName="email"
            />
            <small
                class="form-text text-danger"
                *ngIf="email!.errors?.['pattern'] && (email!.dirty || email!.touched)"
              >
              *Email should be valid
              </small>
            <small
              class="form-text text-danger"
              *ngIf="email!.errors?.['required'] && (email!.dirty || email!.touched)"
            >
              *Email is required
            </small>
          </div>

          
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="password"
              maxlength="15"
            />
            <div
              class="form-text text-danger"
              *ngIf="password!.errors?.['required'] && (password!.dirty || password!.touched)"
            >
              *Password is Required
            </div>

            <div
              class="form-text text-danger"
              *ngIf="password!.errors?.['minlength'] && (password!.
              dirty || password!.touched)"
            >
              *Password should be minimum 8 and maximum 15 characters long.
            </div>
            <div
              class="form-text text-danger"
              *ngIf="password!.errors?.['Ucase'] && (password!.
              dirty || password!.touched)"
            >
              *Password should contain UpperCase
            </div>
            <div
              class="form-text text-danger"
              *ngIf="password!.errors?.['Lcase'] && (password!.
              dirty || password!.touched)"
            >
              *Password should contain LowerCase
            </div>
            <div
              class="form-text text-danger"
              *ngIf="password!.errors?.['SpecialCharecter'] && (password!.
              dirty || password!.touched)"
            >
              *Password should contain SpecialCharacter
            </div>
            <div
              class="form-text text-danger"
              *ngIf="password!.errors?.['number'] && (password!.
              dirty || password!.touched)"
            >
              *Password should contain Number
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputcpassword1" class="form-label"
              >Confirm password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputcpassword1"
              formControlName="cpassword"
            />
            <div
              class="form-text text-danger"
              *ngIf="cpassword!.errors?.['required'] && (cpassword!.dirty || cpassword!.touched)"
            >
              *Confirm password is required
            </div>
            <div
              class="form-text text-danger"
              *ngIf="cpassword!.errors?.['pMismatch'] && (cpassword!.
              dirty || cpassword!.touched)"
            >
              *Password doesn't match
            </div>
            
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <a class="text-light mt-2" routerLink="/login"
          >Already registered? Click to login</a
        >
      </div>
    </div>
  </div>
</div>
